<header class="header" *ngIf="authService.isLoggedIn()">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid d-flex align-items-center justify-content-between">
      <div class="navbar-header">
        <!-- Navbar Header--><a [routerLink]="[ '/dashboard' ]" class="navbar-brand">
          <div class="brand-text brand-big visible text-uppercase"><strong
              class="text-primary">Go</strong><strong>Music</strong></div>
          <div class="brand-text brand-sm"><strong class="text-primary">G</strong><strong>M</strong></div>
        </a>
        <!-- Sidebar Toggle Btn-->
        <button class="sidebar-toggle"><i class="fa fa-arrow-left"></i></button>
      </div>
      <div class="right-menu list-inline no-margin-bottom">
        <!-- Log out               -->
        <div class="list-inline-item logout"> 
          <a [routerLink]="[ '/login/?logout=true']" (click)="authService.logout()" class="nav-link"> 
            <span class="d-none d-sm-inline" style="margin-right:6px; color:#ff3f3f;">Logout</span>
            <i class="fa fa-sign-out-alt" style="color:#ff3f3f;"></i>
          </a>
          </div>
      </div>
    </div>
  </nav>
</header>