<div class="login-page">
  <!-- NGX Loading -->
  <ng-template #customLoadingTemplate></ng-template>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
  </ngx-loading>
  <div class="container d-flex align-items-center">
    <div class="form-holder has-shadow">
      <div class="row">
        <!-- Logo & Information Panel-->
        <div class="col-lg-6">
          <div class="info d-flex align-items-center">
            <div class="content">
              <div class="logo">
                <h1>GoMusic</h1>
              </div>
              <p>Olá, junte-se a nóis.</p>
            </div>
          </div>
        </div>
        <!-- Form Panel    -->
        <div class="col-lg-6">
          <div class="form d-flex align-items-center">
            <div class="content">
              <form (ngSubmit)="login()" class="form-validate mb-4">
                <div class="form-group">
                  <input type="text" class="input-material" [(ngModel)]="user.email" id="email" name="email" required
                    data-msg="Por favor, preencha seu email">
                  <label for="login-username" class="label-material">Email</label>
                </div>
                <div class="form-group">
                  <input type="password" class="input-material" [(ngModel)]="user.password" id="password"
                    name="password" required data-msg="Por favor, preencha sua senha">
                  <label for="password" class="label-material">Senha</label>
                </div>
                <button type="submit" class="btn btn-primary">Entrar</button>
                <div style="color:#dc3545; font-size: 12px; margin-top: 8px;">{{ message }}</div>
              </form>
              <br><small>Ainda não possui uma conta? </small><a [routerLink]="['/register']" class="signup">SignUp</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>