<app-navbar>
  <!-- NGX Loading -->
  <ng-template #customLoadingTemplate></ng-template>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
  <div class="page-header">
    <div class="container-fluid">
      <h2 class="h5 no-margin-bottom" *ngIf="id == null">Nova música</h2>
      <h2 class="h5 no-margin-bottom" *ngIf="id != null">Editar música</h2>
    </div>
  </div>
  <div class="container-fluid">
    <div>
      <ul class="breadcrumb" style="padding-top:0;">
        <li class="breadcrumb-item"><a [routerLink]="[ '/dashboard' ]">Home</a></li>
        <li class="breadcrumb-item"><a [routerLink]="[ '/musicas' ]">Músicas</a></li>
        <li class="breadcrumb-item active" *ngIf="id == null">Nova</li>
        <li class="breadcrumb-item active" *ngIf="id != null">Editar</li>
      </ul>
    </div>
    <section class="no-padding-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6" style="padding-left: 0;">
            <div class="block">
              <div class="title"><strong class="d-block"><i class="fa fa-music"></i></strong>
                <span class="d-block" *ngIf="id == null">Inclua novas músicas no seu repertório musical.</span>
                <span class="d-block" *ngIf="id != null">Atualize seus dados musicais.</span>
              </div>
              <div class="block-body">
                <form>
                  <div class="form-group">
                    <label class="form-control-label">Título</label>
                    <input type="text" class="form-control" [(ngModel)]="music.title" name="title"
                      placeholder="Título da música">
                  </div>
                  <div class="form-group">
                    <label class="form-control-label">Duração</label>
                    <input type="text" class="form-control" [(ngModel)]="music.duraction" name="duraction"
                      placeholder="Duração da música">
                  </div>
                  <div class="form-group">
                    <label class="form-control-label">Faixa</label>
                    <input type="text" class="form-control" [(ngModel)]="music.track" name="track"
                      placeholder="Faixa da música">
                  </div>
                  <div class="form-group">
                    <input type="button" (click)="cadastrar()" *ngIf="id == null" value="Salvar"
                      class="btn btn-primary btn-sm" style="margin-right: 4px;">
                    <input type="button" (click)="atualizar()" *ngIf="id != null" value="Salvar"
                      class="btn btn-primary btn-sm" style="margin-right: 4px;">
                    <a [routerLink]="[ '/musicas' ]" class="btn btn-secondary btn-sm">Voltar</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</app-navbar>